<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jonathant.calendar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MT.A.RANGE</name>
    <description>
        A calendar app
    </description>
    <author email="jonathan.turnbull8@gmail.com" href="http://jtpartywolf.com">
        Jonathan Turnbull
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="xhdpi" src="res/icon/android/appicon-xhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-portrait-hdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
