

/*
*
* My CSS
*
*/


.centre {
    
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: red;
}
            
.frontPageBgColor .page__background {
    background: red;
    z-index: -1
}
.frontPageBg .page__background {
    background-image: url("../img/background_front_dark-01.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    background-size: cover;
    
    
    
}
