

/*
*
* My CSS
*
*/


/************************************************
*Front page css
*
*************************************************/
.FrontPageBgGrad .page__background {
    z-index: -1;
    background:#afeeee;
    /*background: -webkit-linear-gradient(top,#fff,#afeeee); /* Chrome10+, Safari5.1+ 
    background: -webkit-linear-gradient(#ffffff, #afeeee);*/
    /*https://www.gradient-animator.com
    Author: Ian Forrest
    
    background-size: 100% 100%;
    */ 
}



.frontPageBg .page__background {
    
    background-image: url("../img/background_front_dark-01.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    background-size: cover;
    
}

.triButtonSml {
    background-image: url("../img/tri_sml-03.png");
    width: 78px;
    height: 80px;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    padding-top: 30px;
}

.triButtonLge {
    background-image: url("../img/tri_lge-02.png");
    width: 120px;
    height: 125px;
    background-repeat: no-repeat;
    color:white;
    font-size: 50px;
    padding-top: 60px;
}

.ground{
    width:100%;
    position: fixed;
    text-align: center;
    
    bottom: 0;
    
}

.buttonGround {
    bottom: 0px;
}


.dayOfWeek {
    width:100%;
    position: fixed;
    text-align: center;
    font-size: 50px;
    color: gray;
    bottom: 150px;
}

.monthOfYear {
    width:100%;
    position: fixed;
    text-align: center;
    font-size: 50px;
    color: gray;
    bottom: 300px;
}

.upButton {
    background-image: url("../img/upBtn_img-05.png");
    width:37px;
    height:38px;
    position: absolute;
    
    bottom: 50%;
    left: 35px;
}

.addButton {
    background-image: url("../img/addBtn.png");
    position: absolute;
    width:32px;
    height:32px;
    
    bottom: 50%;
    right: 35px; 
}

.clock {
    width: 100%;
    position: fixed;
    top: 50px;
    text-align: center;
    font-size: 50px;
    color: lightgrey;
}

.sun {
    background-image: url("../img/sun-04.png");
    width:115px;
    height:114px;
    text-align: center;
    position: fixed;
    top: 50px;
}


/* Events Page */

.EventsPageBgGrad .page__background {
    z-index: -1;
    
    background: -webkit-linear-gradient(top,#8fbc8f,#fff); /* Chrome10+, Safari5.1+ 
    
    background: -webkit-linear-gradient(#ffffff, #afeeee);*/
    /*https://www.gradient-animator.com
    Author: Ian Forrest
    background-size: 100% 100%;
    */ 
}

.listContainer {
    width: 75%;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
    color: gray;
    top: 50px;
    
}

.addButtonEvents {
    position: absolute;
    background-image: url("../img/addBtn.png");
    width:32px;
    height:32px;
    right:10px;
    top: 10px;
    
}

.upButtonEvents {
    background-image: url("../img/upBtn_img-05.png");
    width:37px;
    height:38px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.lHeader {
    color:#fff;
    font-size: 20px;
    text-align: center;
    background: #2e8b57;
}

.weather {
    
   
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    color:#fff;
    
}

/* Add Events Page */

.triContainer {
    margin:30px auto;
    text-align: center;
    
}

.timeContainer ons-input input{
    width:50px !important;
}

.noteContainer ons-input input {
    height:100px !important;
}
ons-input input {
    color: #fff !important;
    font-size: 20px !important;
    background:#8fbc8f !important;
    
}

ons-input input::placeholder {
    color: #fff !important;
}

ons-toolbar {
    background: #2e8b57!important;
}

.tBar {
    color:#fff;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}

.xBtn {
    background-image: url("../img/xBtn-07.png");
    position: absolute;
    width: 27px;
    height: 27px;
    top: 10px;
    right: 10px;
}

.triTag {
    width: 78px;
    height: 80px;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    padding-top: 30px;
}

.greenTag {
    background-image: url("../img/triTagGreen-11.png");
}

.redTag {
    background-image: url("../img/triTagRed-08.png");
}

.blueTag {
    background-image: url("../img/triTagBlue-09.png");
}

.yellowTag {
    background-image: url("../img/triTagYellow-10.png");
}

/*DayPage Css*/
.dayStyle {
    background-image: url("../img/tri_sml-03.png");
    width: 78px;
    height: 80px;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    padding-top: 30px;
}

/*MonthPage Css*/
.monthStyle {
    background-image: url("../img/tri_lge-02.png");
    width: 120px;
    height: 125px;
    background-repeat: no-repeat;
    color:white;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}

/*YearPage Css*/

.yearStyle {
    background-image: url("../img/tri_lge-02.png");
    width: 120px;
    height: 125px;
    background-repeat: no-repeat;
    color:white;
    font-size: 10px;
    text-align: center;
    padding-top: 60px;
}


