

/*
*
* My CSS
*
*/


.centre {
    
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: red;
}
            
.frontPageBgColor .page__background {
    background: red;
    z-index: -1
}
.frontPageBg .page__background {
    background-image: url("../img/background_front-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
}
